<div class="container">
    <form action="/api/sessions/login" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mt-3 mb-3 row">
            <label class="form-label col-auto" for="_email">Email:</label>
            <input class="form-control col" type="email" name="email" id="_email" />
        </div>
        <div class="mb-3 row">
            <label class="form-label col-auto" for="_pass">Password:</label>
            <input class="form-control col" type="password" name="password" id="_pass" />
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Login</button>
        </div>
    </form>
    <div class="row">
        <a href="/api/sessions/github" class="btn btn-primary mb-3">Entrar con Github</a>
    </div>
</div>