<h1 class="text-center">Agregar Nuevo Producto</h1>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form action="/realtimeproducts" method="post">
        <div>
          <label>Título:</label>
          <input type="text" class="form-control my-2" name="title" required>
        </div>
        <div>
          <label>Descripción:</label>
          <input type="text" class="form-control my-2" name="description" required>
        </div>
        <div>
          <label>Precio:</label>
          <input type="number" class="form-control my-2" name="price" required>
        </div>
        <div>
          <label>Imágenes:</label>
          <input type="text" class="form-control my-2" name="thumbnail" required>
        </div>
        <div>
          <label>Código:</label>
          <input type="text" class="form-control my-2" name="code" required>
        </div>
        <div>
          <label>Stock:</label>
          <input type="number" class="form-control my-2" name="stock" required>
        </div>
        <div>
          <label>Categoría:</label>
          <input type="text" class="form-control my-2" name="category" required>
        </div>
        <div class="mb-3">
          <label class="mr-3">Estado:</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="statusTrue" value="true" required>
            <label class="form-check-label mr-3" for="statusTrue">Verdadero</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="statusFalse" value="false" required>
            <label class="form-check-label mr-3" for="statusFalse">Falso</label>
          </div>
        </div>
        <div class="d-grid gap-2 text-center">
          <button type="submit" class="btn btn-secondary my-2">Agregar Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>