<div class="my-3 ms-3">
    <h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
    <h2 class="mt-1 mb-1 ">Datos del perfil:</h2>
    <div class="mt-1 mb-1">Edad: {{user.age}}</div>
    <div class="mt-1 mb-1">Email: {{user.email}}</div>

    <a href="/products">
        <button type="submit" class="btn btn-primary ml-3 mt-3">Volver</button>
    </a>
</div>