<div class="container">
    <form action="/api/sessions/register" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mt-3 mb-3 row">
            <label class="form-label col-auto" for="_f_name">First name:</label>
            <input class="form-control col" type="text" name="first_name" id="_f_name" />
        </div>
        <div class="mb-3 row">
            <label class="form-label col-auto" for="_l_name">Last name:</label>
            <input class="form-control col" type="text" name="last_name" id="_l_name" />
        </div>
        <div class="mb-3 row">
            <label class="form-label col-auto" for="_age">Age:</label>
            <input class="form-control col" type="number" name="age" id="_age" />
        </div>
        <div class="mb-3 row">
            <label class="form-label col-auto" for="_email">Email:</label>
            <input class="form-control col" type="email" name="email" id="_email" />
        </div>
        <div class="mb-3 row">
            <label class="form-label col-auto" for="_pass">Password:</label>
            <input class="form-control col" type="password" name="password" id="_pass" />
        </div>        
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </form>
</div>